body {
  opacity: 0; }

.main {
  margin: 8px 0px; }
  .main .title {
    margin: 0px 6px 0px 6px;
    color: #2F4F4F;
    font-size: 1rem; }
  .main hr {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem; }

.loading-gif {
  position: absolute;
  display: none;
  width: 26px;
  right: 5px;
  top: 2px;
  z-index: 9999; }
