body {
  opacity: 0; }

#filters-card {
  margin: 8px 0px; }
  #filters-card h5.title {
    margin: 0px 6px 0px 6px;
    color: #2F4F4F;
    font-size: 0.9rem; }
  #filters-card hr {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem; }
  #filters-card .dropdown-item .text-muted {
    font-size: 0.75rem;
    font-weight: bold; }
    #filters-card .dropdown-item .text-muted .good {
      color: #1e87db; }
    #filters-card .dropdown-item .text-muted .bad {
      color: #dc3545; }

#btnListar, #btnMatricular {
  font-size: 0.75rem; }
  #btnListar .fa, #btnMatricular .fa {
    line-height: 0.7;
    padding: 7px 8px 7px 8px; }

.form-group:last-child {
  margin-bottom: 0.2rem; }

#divConsideraciones + hr {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem; }

.rel-absolute {
  position: relative; }
  .rel-absolute #loading-gif {
    position: absolute;
    display: none;
    top: -4px;
    right: 12px;
    width: 24px; }

#grwAlumnos .custom-control {
  display: inline-block; }

#grwAlumnos .thead-dark .custom-control-input:focus ~ .custom-control-label::before {
  box-shadow: none; }

#grwAlumnos .custom-control-label {
  cursor: pointer; }

#grwAlumnos .matriculado {
  font-weight: bold;
  opacity: 0.8; }
