#footer
{
  background-color: #232F3E;
}

#footer a 
{
  color: white;
}

.borde-personalizado
{
 border: 1px solid blue;
 background-color: chartreuse;
 
}

.col-sm-2col_personalizada,
.col-sm-1col_personalizada,
.col-md-5col_personalizada,
.col-lg-10col_personalizadas {
    min-height: 1px; 
    position: relative;
}

/*extra pequeño*/
@media (min-width: 100px) { 
  .col-sm-1col_personalizada {
    float: left;
    width: 100%;

  }
  
  .col-sm-2col_personalizada
  {
    float: left;
    width: 50%;
  }
}

/*Mediano*/
@media (min-width: 768px) {

    .col-md-5col_personalizada {
      float: left;
      width: 50%;
  
    }
  
  }

/*Mediano*/
@media (min-width: 992px) {   
    .col-lg-10col_personalizadas {
      float: left;
      width: 10%;
    }
  
}

/*Grande*/
@media (min-width: 1200px) {
  .col-lg-10col_personalizadas {
    float: left;
    width: 10%;

  }
}





