.main-title {
    position: relative;
    font-size: 1rem;
    color: #26758c;
    margin-top: 0.6rem;
    margin-bottom: 0.3rem;
    #loadingGif {
        position: absolute;
        display: none;
        top: -3px;
        right: 0px;
        width: 25px;
    }
    & + hr {
        margin: 8px 0px;
    }
}

.container-fluid {
    min-height: 200px;
}

.subtitulo {
    color: #26758c;
    font-size: 0.9rem;
}

.custom-control-label {
    &::after {
        top: 0.2rem;
    }
}

.custom-radio,
.custom-checkbox {
    .custom-control-label {
        padding-left: 0;
    }
}

#udpFiltrosAlumno {
    hr {
        margin: 8px 0px;
    }
}
