/* CSS Document */
.bar {
	background-color: #FFFFFF;
	width: 100%;
	padding: 0px;
	z-index: 3;	
}
.barBg {
	background-color: #FFFFFF;
	width: 100%;
	padding: 0px;
	z-index: 1;
	visibility: visible;	
}
.barBgItem {
	font-family: Tahoma; 
	font-size: 11px; 
	padding: 3px 7px 2px; 
	border: 1px solid #FFFFFF;
	visibility: hidden;
}
.menuButton {
	cursor: default;
	border: 1px solid #FFFFFF;
	background-color: #FFFFFF;
	font-family: Tahoma; 
	font-size: 11px;
	padding: 3px 7px 2px;	
}
.subMenu {
	position: absolute;
	cursor: default;
	border: 1px solid #FFFFFF;
	background-color: #FFFFFF;
	font-family: Tahoma; 
	font-size: 11px;
	z-index: 2;
	visibility: hidden;
	padding: 0px;
	filter:
	progid:DXImageTransform.Microsoft.Shadow(Color=#8A867A, Direction=135, Strength=3)
	Alpha(Opacity=100);
	MozOpacity: 100%;
}
.innerTable {
	cursor: default;
	border: 0px solid #FFFFFF;
	background-color: #FFFFFF;
	font-family: Tahoma; 
	font-size: 11px;
	padding: 0px;
}
.subMenuGfx {
	cursor: default;
	border: 1px solid #FFFFFF;
	background-color: #FFFFFF;
	text-align: center;	
}
.subMenuText {
	cursor: default;
	height: 20px;	
	border: 1px solid #FFFFFF;
	background-color: #FFFFFF;
	font-family: Tahoma; 
	font-size: 11px;
	padding: 2px 5px;
}
.subMenuSep {
	cursor: default;
	border: 0px solid #FFFFFF;
	background-color: #FFFFFF;
	height: 1px;
	padding: 0px;
	text-align: right;

}
.leftSide {
	cursor: default;
	border: 0px solid #FFFFFF;
	background-color: #FFFFFF;
}
.rightSide {
	cursor: default;
	border: 1px solid #FFFFFF;
	background-color: #FFFFFF;
	text-align: right;	
}
