/* FORMULARIOS */
.form-control {
  border-radius: 6px;
  padding: 8px 15px;
  line-height: 1.4;
  font-size: 1rem;
  font-weight: 500;
  font-family: "Dosis"; }
  .form-control.is-valid, .form-control.was-validated, .form-control.form-control:valid {
    border-color: #ced4da; }
  .form-control em {
    font-size: 0.8rem;
    font-family: "Segoe UI",Roboto,"Helvetica Neue"; }

form .row {
  margin-left: -5px;
  margin-right: -5px; }

form [class^="col-sm-"] {
  padding: 0px 5px; }

form label.form-control-sm {
  font-size: 0.8em;
  font-weight: 500;
  text-align: right; }

form .card .card-body {
  padding: 0.5rem; }

form .custom-control-label {
  font-size: 0.85rem; }
  form .custom-control-label::before {
    top: 0.2rem; }

form .list-group-item {
  padding: .5rem 0.6rem; }

.form-check label {
  font-size: 0.8rem; }

.btn {
  font-size: 0.9rem;
  border-radius: 0.1rem; }

.table.table-sm {
  font-size: 0.7em;
  font-family: Verdana, Geneva, Tahoma, sans-serif; }

.table td, .table th {
  vertical-align: middle; }

.table .thead-dark th {
  background-color: #E33439;
  text-align: center; }

.table .thead-dark-alt th {
  background-color: #003366;
  text-align: center; }

.table button.btn {
  font-size: 1em;
  padding: .2rem .4rem; }

.table td.operacion {
  width: 45px; }

#loading-gif {
  width: 50px; }

.card {
  border-radius: 0; }
  .card .card-header {
    padding: 0.5rem 1.25rem;
    font-weight: 500;
    font-size: 0.85em;
    border-radius: 0; }
  .card .card-body {
    padding: 0.8rem; }

/* SELECT */
.bootstrap-select {
  background-color: transparent; }
  .bootstrap-select.form-control-sm {
    display: block; }
    .bootstrap-select.form-control-sm .dropdown-toggle {
      border-radius: 6px;
      padding: 0.4rem 0.5rem; }
  .bootstrap-select .dropdown-menu li small {
    font-size: 0.8rem; }

.dropdown-menu {
  padding: 3px 0px;
  border-radius: 0; }
  .dropdown-menu .dropdown-item {
    padding: 0.25rem 1.2rem;
    font-size: 0.95rem; }
  .dropdown-menu .dropdown-item.active .text-muted, .dropdown-menu .dropdown-item:active .text-muted {
    color: #FFFFFF !important; }
  .dropdown-menu .no-results {
    font-size: 0.9rem; }

.bs-searchbox, .bs-actionsbox, .bs-donebutton {
  padding: 3px 6px 6px 6px; }

select.form-control:not([size]):not([multiple]) {
  height: 38px !important; }

/* BOTONES */
.btn.btn-sm {
  border-radius: 0.1rem; }
  .btn.btn-sm > span.text {
    margin-left: 4px; }

/* TABS */
.nav-tabs .nav-link {
  border-radius: 0;
  padding: .35rem 0.9rem;
  font-size: 0.9rem;
  font-weight: 600; }

/* MODAL */
.modal .modal-header {
  padding: 0.4rem 0.8rem;
  border-radius: 0;
  padding: 0.4rem 0.8rem;
  background-color: #E33439; }
  .modal .modal-header .modal-title {
    color: white;
    font-weight: 500; }

.modal .modal-body {
  padding: 0.5rem; }

.modal form label.form-control-sm {
  font-size: 0.75em; }

.modal .alert {
  margin-bottom: 0;
  font-size: 0.9rem;
  border-radius: 0; }

.modal-header .close {
  padding: 0rem;
  margin: -0.2rem -0.2rem 0rem auto;
  color: white;
  text-shadow: none; }

.modal-header .modal-title {
  font-size: 0.9rem; }

.close:not(:disabled):not(.disabled):focus, .close:not(:disabled):not(.disabled):hover {
  color: white;
  font-weight: 500; }

.modal .modal-footer {
  padding: 0.6rem; }

.modal .modal-content {
  border-radius: 0; }

.modal .card .card-header {
  padding: 0.2rem 0.65rem;
  font-size: 0.8rem; }

.sw-main .step-content {
  padding: 5px 5px; }

.sw-main .sw-toolbar {
  padding: 0;
  background: transparent; }
  .sw-main .sw-toolbar .btn {
    padding: 0.25rem 0.7rem;
    font-size: 0.8rem;
    border-radius: 0.1rem; }

.datepicker table th, .datepicker table td {
  font-size: 0.8rem;
  line-height: 1;
  border-radius: 2px; }
