.format
{
    /*Toda la página
    border: 1px solid #BFBFBF; */
    
    -webkit-box-shadow: 3px 4px 5px 1px rgba(150,150,150,1);
    -moz-box-shadow: 3px 4px 5px 1px rgba(150,150,150,1);
    box-shadow: 3px 4px 5px 1px rgba(150,150,150,1);
    -ms-shadow: 3px 4px 5px 1px rgba(150,150,150,1);
    max-width:827px;
    margin: 4px auto;
    font-family: Calibri;
}
.format_tb 
{
    /*Formato de tabla*/  
    width:100%;
    border-collapse:collapse;
    font-weight:normal;
}
.format_td1 
{
    /*Fila izquierda: encabezados*/
    background-color:white;           
    color: #545252;
    width:27%;
    padding-left:35px;
    font-weight:bold;
    font-size:11px;
    text-align:justify;
}
.format_td1_Titulo
{
    background-color:white;           
    color:#383636;
    padding-left:15px;
    font-weight:bold;
    font-size:12px; 
}
.format_tdpie
{
    border-bottom: 1px solid #A5A5A4;  
}
.format_update
{
    padding:15px; font-size:10px; font-weight:normal;  color: #545252;
}    
.format_td2 
{
    /*Fila derecha: datos*/
    background-color:white;
    color: #383636;
    font-size:11px;
    font-weight :normal;
    text-transform:uppercase;
    max-width:160px;
    text-align:justify;
}
.format_td3 
{
     font-weight:100; font-size:10px;padding:5px 50px 5px 50px;text-align:center;
}
.format_td4 
{/*perfil*/
     font-weight:bold; font-size:11px; color: #383636; padding:5px 50px 5px 50px;  text-align:justify;
}
.format_td5
{
    font-weight:bold; font-size:20px; color: #003366;padding:0px;text-align:center;box-shadow: 10px 10px 5pxred;
}
.format_td6
{
    font-weight:bold; font-size:10px; color: #383636;padding:0px;text-align:center;margin: 0 0 0px;
}
.format_email
{
    /*Email*/
    text-transform:lowercase;
    color: #383636;
    font-size:10px;
}
.format_Htd
{
    /*Fila de Encabezado*/
    font-weight:bold; padding:9px; background-color:#F3F3F3;color:#003366;font-size:14px;text-transform:uppercase;border-bottom:1px solid #003366;border-top:1px solid #003366
}
.format_Htd_Name
{
    /*Nombre CV*/
    font-weight:bold;padding:10px; background-color:#F3F3F3;color:#003366;font-size:16px;border-bottom: 1px solid #003366;text-align:center;
}
.format_Htd_Enlace 
{   
    font-weight:normal;   
    background-color:white;
    color:#666464;
    font-size:10px;
    text-decoration:none;
    text-transform:none;
}
.btn_content1
{
    margin-top:3px;
    margin-bottom: 3px;
    max-width:180px;
    border: 1px solid #A5A5A4;
    font-size:12px;
    cursor:hand;
    /*float:left;*/
    color:#003366;
}
.btn_content
{
    margin-top:3px;
    margin-bottom: 3px;
    max-width:80px;
    border: 1px solid #A5A5A4;
    font-size:12px;
    cursor:hand;
    float:left;
    color:#003366;
}
.btn_img
{    
    float:left;
    padding:3px;
}
.imgcv
{    
    width:80%;
    height:80%;
}
.btn_title
{
    /*float:left;*/
    color:#003366;
    padding:4px 4px 2px 0px;
    text-transform:capitalize;
    font-weight:normal;
}
.btn_img 
{
    text-decoration:none;
    outline:none;
    border:none;
}

/*.btn_clear{ clear:both;}*/