--exec CRM_ListaInteresadosxEvento @tipo='L',@codigo_test='2',@codigo_con='2',@codigo_eve='',@letra_ini=' ',@letra_fin=' ',@texto='',@codigo_sin='1',@Comunicacion=' ',@Acuerdo='T',@codigo_cpf=''        
        
/*              
* Fecha Mod: 19/06/2017 - 09:23:00am               
* Modificado por: moises.vilchez            
* Descripción: Listar Interesado por Evento            
**********************************Historial de Cambios*************************************************          
001 Hcano 15-09-17 Se Cambiaron Todas los tipos para listar interesados por situacion,comunicacion, carrera profesional, etc con el interesado          
002 Hcano 07-06-18 Se ACTUALIZA Lista de Interesados NO SE FILTRAN NO INTERESADOS
003 Hcano 23-08-18 Se coloca Isnull a filtro Codigo_Cpf para que muestre interesados aunque no tengan carrera registrada
*/            
ALTER PROCEDURE [dbo].[CRM_ListaInteresadosxEvento]                            
--DECLARE @codigo_test varchar(10) ='%'                            
--DECLARE @codigo_con varchar(10) ='%'                            
--DECLARE @codigo_eve varchar(10) = 10                            
--DECLARE @letra_ini char(1) ='%'                            
--DECLARE @letra_fin char(1) ='%'                            
--DECLARE @texto varchar(300) = '%'               
--DECLARE @codigo_sin char(1) = '1',                           
--DECLARE @Comunicacion char(1) = '0'  -- T:Todos - 1:Con Comunicación - 0:Sin Comunicación              
--DECLARE @Acuerdo char(1) = 'T'  -- T:Todos - 1:Con Acuerdo - 0:Sin Acuerdo              
@tipo char(3),                            
@codigo_test varchar(10),                            
@codigo_con varchar(10),                            
@codigo_eve varchar(10),                            
@letra_ini char(1),                            
@letra_fin char(1),                            
@texto varchar(300),                            
@codigo_sin char(1), -- Codigo De tabla SituacionIntesado_CRM          
@Comunicacion char(1),  -- T:Todos - 1:Con Comunicación - 0:Sin Comunicación              
@Acuerdo char(1),   -- T:Todos - 1:Con Acuerdo - 0:Sin Acuerdo             
@codigo_cpf varchar(50) -- 001 ''Vacio Todos, Sino Busca por Carrera          
AS                            
BEGIN                            
 IF @tipo='L' -- Lista Interesados (Principal)                            
 BEGIN                 
                          
  IF @letra_ini=''                            
   BEGIN                            
   SET @letra_ini='A'                            
   END                            
                              
  IF @letra_fin=''                            
   BEGIN                            
   SET @letra_fin='Z'                            
   END                            
             
   IF @codigo_cpf=''                            
   BEGIN                            
   SET @codigo_cpf='%'                            
   END             
                  
  IF @codigo_sin='1'              
   BEGIN          
   /*          
   SELECT i.codigo_int,e.codigo_eve,e.nombre_eve,rtrim(ltrim(tdi.codigo_doci)) codigo_doci,tdi.siglas_doci,i.numerodoc_int,              
    i.apepaterno_int,i.apematerno_int,i.nombres_int, 'INTERESADO' as situacion              
   FROM Interesado_CRM i WITH(NOLOCK)                             
     INNER JOIN EventoInteresado_CRM ei WITH(NOLOCK) ON ei.codigo_int=i.codigo_int                            
     INNER JOIN Evento_CRM e WITH(NOLOCK) ON e.codigo_eve=ei.codigo_eve                            
     INNER JOIN Convocatoria_CRM c WITH(NOLOCK) ON c.codigo_con=e.codigo_con                            
     INNER JOIN TipoEstudio t WITH(NOLOCK) ON t.codigo_test=c.codigo_test                            
     INNER JOIN TipoDocumentoIdentidad tdi WITH(NOLOCK) ON tdi.codigo_doci=i.codigo_doci                
     left outer join alumno a WITH(NOLOCK) On (a.nroDocIdent_Alu=i.numerodoc_int)               
                          
     left outer join  (              
     select distinct com.codigo_int from Comunicacion_CRM com where com.estado_com=1              
     )as tb on (tb.codigo_int=i.codigo_int)              
              
     left outer join (              
     select distinct com.codigo_int from Acuerdo_CRM ac inner join Comunicacion_CRM com On (ac.codigo_com=com.codigo_com) where ac.estado_acu=1              
     )as tbAcuerdo on (tbAcuerdo.codigo_int=i.codigo_int)              
   WHERE                            
     i.estado_int=1                            
     AND ei.estado_ein=1                            
     AND e.estado_eve=1                            
     and codigo_Alu is null              
   AND t.codigo_test like case @codigo_test when 'T' then '%' when '' then '%' else @codigo_test end                            
     AND c.codigo_con like case @codigo_con when 'T' then '%' when '' then '%'  else @codigo_con end                            
     AND e.codigo_eve like case @codigo_eve when 'T' then '%' when '' then '%' else @codigo_eve end                        
     AND SUBSTRING(i.apepaterno_int,1,1) BETWEEN @letra_ini AND @letra_fin                            
     AND (i.apepaterno_int + ' ' + i.apematerno_int + ' ' + i.nombres_int like '%' + @texto + '%' or i.numerodoc_int like '%' + @texto + '%' )                        
                  
    AND ((@Comunicacion = 'T' AND 1=1) OR (@Comunicacion = '0' AND tb.codigo_int IS NULL) OR (@Comunicacion = '1' AND tb.codigo_int IS NOT NULL))              
    AND ((@Acuerdo = 'T' AND 1=1) OR (@Acuerdo = '0' AND tbAcuerdo.codigo_int IS NULL) OR (@Acuerdo = '1' AND tbAcuerdo.codigo_int IS NOT NULL))              
   ORDER BY nombre_eve,apepaterno_int,apematerno_int,nombres_int               
      */               
   /*        
SELECT DISTINCT i.codigo_int,e.codigo_eve,e.nombre_eve,rtrim(ltrim(tdi.codigo_doci)) codigo_doci,tdi.siglas_doci,i.numerodoc_int,              
    i.apepaterno_int,i.apematerno_int,i.nombres_int, 'INTERESADO' as situacion ,com.codigo_int,com.codigo_ecom,com.descripcion_ecom           
   FROM Interesado_CRM i WITH(NOLOCK)                             
     INNER JOIN EventoInteresado_CRM ei WITH(NOLOCK) ON ei.codigo_int=i.codigo_int                            
     INNER JOIN Evento_CRM e WITH(NOLOCK) ON e.codigo_eve=ei.codigo_eve                            
     INNER JOIN Convocatoria_CRM c WITH(NOLOCK) ON c.codigo_con=e.codigo_con          
     LEFT JOIN CicloAcademico ci WITH(NOLOCK)ON ci.codigo_Cac=c.codigo_cac                          
     INNER JOIN TipoEstudio t WITH(NOLOCK) ON t.codigo_test=c.codigo_test                            
     INNER JOIN TipoDocumentoIdentidad tdi WITH(NOLOCK) ON tdi.codigo_doci=i.codigo_doci                
     left outer join alumno a WITH(NOLOCK) On (a.nroDocIdent_Alu=i.numerodoc_int) AND a.cicloIng_Alu=ci.descripcion_Cac          
  --LEFT JOIN Comunicacion_CRM com WITH(NOLOCK) ON com.codigo_int=i.codigo_int AND com.codigo_ecom<>6          
     LEFT JOIN          
  (SELECT C2.codigo_com,T.*,C2.codigo_ecom,e.descripcion_ecom          
  FROM          
  (SELECT C1.codigo_int,MAX(C1.fecha_reg) fecha_reg FROM Comunicacion_CRM C1 WITH(NOLOCK) WHERE estado_com=1 GROUP BY c1.codigo_int) T          
  LEFT JOIN Comunicacion_CRM c2 WITH(NOLOCK) ON  t.codigo_int=c2.codigo_int AND c2.fecha_reg=t.fecha_reg          
  LEFT JOIN EstadoComunicacion_CRM e WITH(NOLOCK) ON e.codigo_ecom=c2.codigo_ecom          
  ) com ON com.codigo_int=i.codigo_int           
     left outer join (              
     select distinct com.codigo_int from Acuerdo_CRM ac inner join Comunicacion_CRM com On (ac.codigo_com=com.codigo_com) where ac.estado_acu=1              
     )as tbAcuerdo on (tbAcuerdo.codigo_int=i.codigo_int)          
   WHERE                            
     i.estado_int=1                            
     AND ei.estado_ein=1                            
     AND e.estado_eve=1                            
     and codigo_Alu is null              
     AND t.codigo_test like case @codigo_test when 'T' then '%' when '' then '%' else @codigo_test end                            
     AND c.codigo_con like case @codigo_con when 'T' then '%' when '' then '%'  else @codigo_con end                            
     AND e.codigo_eve like case @codigo_eve when 'T' then '%' when '' then '%' else @codigo_eve end                            
     AND SUBSTRING(i.apepaterno_int,1,1) BETWEEN @letra_ini AND @letra_fin                            
     AND (i.apepaterno_int + ' ' + i.apematerno_int + ' ' + i.nombres_int like '%' + @texto + '%' or i.numerodoc_int like '%' + @texto + '%' )                        
     AND I.codigo_cpf LIKE @codigo_cpf          
     AND ((@Comunicacion = '0' AND com.codigo_int IS NULL) OR (@Comunicacion = ' ' AND com.descripcion_ecom<>'NO INTERESADO') OR com.codigo_ecom=@Comunicacion) AND (@Comunicacion<>2)          
    --AND ((@Comunicacion = '0' AND tb.codigo_int IS NULL) OR (@Comunicacion = '1' AND tb.codigo_int IS NOT NULL)) OR           
    AND ((@Acuerdo = 'T' AND 1=1) OR (@Acuerdo = '0' AND tbAcuerdo.codigo_int IS NULL) OR (@Acuerdo = '1' AND tbAcuerdo.codigo_int IS NOT NULL))            
   ORDER BY nombre_eve,apepaterno_int,apematerno_int,nombres_int       */        
-- Inicio 002      
 SELECT DISTINCT i.codigo_int,e.codigo_eve,e.nombre_eve,rtrim(ltrim(tdi.codigo_doci)) codigo_doci,tdi.siglas_doci,i.numerodoc_int,              
 i.apepaterno_int,i.apematerno_int,i.nombres_int, 'INTERESADO' as situacion ,com.codigo_int,com.codigo_ecom,com.descripcion_ecom          
 FROM Interesado_CRM i WITH(NOLOCK)        
 INNER JOIN EventoInteresado_CRM ei WITH(NOLOCK) ON ei.codigo_int=i.codigo_int AND ei.estado_ein=1        
 INNER JOIN Evento_CRM e WITH(NOLOCK) ON e.codigo_Eve=ei.codigo_eve AND e.estado_eve=1        
 INNER JOIN Convocatoria_CRM c WITH(NOLOCK) ON c.codigo_con=e.codigo_con AND c.estado_con=1        
 INNER JOIN TipoEstudio t WITH(NOLOCK) ON t.codigo_test=c.codigo_test        
 LEFT JOIN CicloAcademico ci WITH(NOLOCK)ON ci.codigo_Cac=c.codigo_cac        
 INNER JOIN TipoDocumentoIdentidad tdi WITH(NOLOCK) ON tdi.codigo_doci=i.codigo_doci                
 LEFT OUTER JOIN alumno a WITH(NOLOCK) ON a.nroDocIdent_Alu=i.numerodoc_int AND a.cicloIng_Alu=ci.descripcion_Cac AND estadoActual_Alu=1        
 LEFT JOIN          
 (SELECT C2.codigo_com,T.*,C2.codigo_ecom,e.descripcion_ecom          
 FROM          
 (SELECT C1.codigo_int,MAX(C1.fecha_reg) fecha_reg FROM Comunicacion_CRM C1 WITH(NOLOCK) WHERE estado_com=1 GROUP BY c1.codigo_int) T          
 LEFT JOIN Comunicacion_CRM c2 WITH(NOLOCK) ON  t.codigo_int=c2.codigo_int AND c2.fecha_reg=t.fecha_reg          
 LEFT JOIN EstadoComunicacion_CRM e WITH(NOLOCK) ON e.codigo_ecom=c2.codigo_ecom        
 ) com ON com.codigo_int=i.codigo_int        
 LEFT OUTER JOIN (              
    select distinct com.codigo_int from Acuerdo_CRM ac inner join Comunicacion_CRM com On (ac.codigo_com=com.codigo_com) where ac.estado_acu=1              
    )as tbAcuerdo on (tbAcuerdo.codigo_int=i.codigo_int)         
 WHERE         
 estado_int=1        
 AND codigo_Alu is null        
 AND t.codigo_test like case @codigo_test when 'T' then '%' when '' then '%' else @codigo_test end        
 AND c.codigo_con like case @codigo_con when 'T' then '%' when '' then '%'  else @codigo_con end        
 AND e.codigo_eve like case @codigo_eve when 'T' then '%' when '' then '%' else @codigo_eve end                            
 AND SUBSTRING(i.apepaterno_int,1,1) BETWEEN @letra_ini AND @letra_fin                            
 AND (i.apepaterno_int + ' ' + i.apematerno_int + ' ' + i.nombres_int like '%' + @texto + '%' or i.numerodoc_int like '%' + @texto + '%' )        
 AND ISNULL(I.codigo_cpf,'') LIKE @codigo_cpf --003
 AND (ISNULL(com.codigo_ecom,'') LIKE CASE WHEN @comunicacion='T' THEN '%' ELSE @comunicacion END) AND ISNULL(COM.descripcion_ecom,'')<>'NO INTERESADO'        
 AND ((@Acuerdo = 'T' AND 1=1) OR (@Acuerdo = '0' AND tbAcuerdo.codigo_int IS NULL) OR (@Acuerdo = '1' AND tbAcuerdo.codigo_int IS NOT NULL))            
 ORDER BY nombre_eve,apepaterno_int,apematerno_int,nombres_int          
-- Fin 002       
END                    
                       
                      
  IF @codigo_sin='2'  --Lista de Postulantes                          
   BEGIN                    
   /*SELECT                     
    distinct i.codigo_int,               
    e.codigo_eve,                  
    e.nombre_eve,                
    rtrim(ltrim(tdi.codigo_doci)) codigo_doci,                
    tdi.siglas_doci,                    
    i.numerodoc_int,                    
    i.apepaterno_int,                    
    i.apematerno_int,                    
    i.nombres_int,              
    'POSTULANTE' as situacion                            
   FROM                     
    Interesado_CRM i WITH(NOLOCK) inner join TipoDocumentoIdentidad tdi WITH(NOLOCK) ON tdi.codigo_doci=i.codigo_doci                    
    inner join alumno a WITH(NOLOCK) On (a.nroDocIdent_Alu=i.numerodoc_int)                    
    INNER JOIN EventoInteresado_CRM ei WITH(NOLOCK) ON ei.codigo_int=i.codigo_int                            
    INNER JOIN Evento_CRM e WITH(NOLOCK) ON e.codigo_eve=ei.codigo_eve                       
    INNER JOIN Convocatoria_CRM c WITH(NOLOCK) ON c.codigo_con=e.codigo_con                            
    INNER JOIN TipoEstudio t WITH(NOLOCK) ON t.codigo_test=c.codigo_test                
    left outer join  (              
    select distinct com.codigo_int from Comunicacion_CRM com where com.estado_com=1              
    )as tb on (tb.codigo_int=i.codigo_int)              
              
    left outer join (              
    select distinct com.codigo_int from Acuerdo_CRM ac inner join Comunicacion_CRM com On (ac.codigo_com=com.codigo_com) where ac.estado_acu=1              
    )as tbAcuerdo on (tbAcuerdo.codigo_int=i.codigo_int)              
   where                     
    i.estado_int=1                    
    AND ei.estado_ein=1                            
    AND e.estado_eve=1                        
    and condicion_Alu='P'                    
    AND t.codigo_test like case @codigo_test when 'T' then '%' when '' then '%' else @codigo_test end                            
    AND c.codigo_con like case @codigo_con when 'T' then '%' when '' then '%'  else @codigo_con end                            
    AND e.codigo_eve like case @codigo_eve when 'T' then '%' when '' then '%' else @codigo_eve end                            
    AND SUBSTRING(i.apepaterno_int,1,1) BETWEEN @letra_ini AND @letra_fin                            
    AND (i.apepaterno_int + ' ' + i.apematerno_int + ' ' + i.nombres_int like '%' + @texto + '%' or i.numerodoc_int like '%' + @texto + '%' )                        
              
    AND ((@Comunicacion = 'T' AND 1=1) OR (@Comunicacion = '0' AND tb.codigo_int IS NULL) OR (@Comunicacion = '1' AND tb.codigo_int IS NOT NULL))              
    AND ((@Acuerdo = 'T' AND 1=1) OR (@Acuerdo = '0' AND tbAcuerdo.codigo_int IS NULL) OR (@Acuerdo = '1' AND tbAcuerdo.codigo_int IS NOT NULL))              
   ORDER BY nombre_eve,apepaterno_int,apematerno_int,nombres_int                         
   */          
   SELECT DISTINCT i.codigo_int,e.codigo_eve,e.nombre_eve,rtrim(ltrim(tdi.codigo_doci)) codigo_doci,tdi.siglas_doci,i.numerodoc_int,              
    i.apepaterno_int,i.apematerno_int,i.nombres_int, 'POSTULANTE' as situacion ,com.codigo_int             
   FROM Interesado_CRM i WITH(NOLOCK)                             
     INNER JOIN EventoInteresado_CRM ei WITH(NOLOCK) ON ei.codigo_int=i.codigo_int                            
     INNER JOIN Evento_CRM e WITH(NOLOCK) ON e.codigo_eve=ei.codigo_eve                            
     INNER JOIN Convocatoria_CRM c WITH(NOLOCK) ON c.codigo_con=e.codigo_con          
     LEFT JOIN CicloAcademico ci WITH(NOLOCK)ON ci.codigo_Cac=c.codigo_cac                          
     INNER JOIN TipoEstudio t WITH(NOLOCK) ON t.codigo_test=c.codigo_test                            
     INNER JOIN TipoDocumentoIdentidad tdi WITH(NOLOCK) ON tdi.codigo_doci=i.codigo_doci                
     left outer join alumno a WITH(NOLOCK) On (a.nroDocIdent_Alu=i.numerodoc_int) AND a.cicloIng_Alu=ci.descripcion_Cac          
 --LEFT JOIN Comunicacion_CRM com WITH(NOLOCK) ON com.codigo_int=i.codigo_int AND com.codigo_ecom<>6          
     LEFT JOIN          
  (SELECT codigo_com,T.*,C.codigo_ecom,e.descripcion_ecom          
  FROM          
  (SELECT C.codigo_int,MAX(C.fecha_reg) fecha_reg FROM Comunicacion_CRM C WITH(NOLOCK) WHERE estado_com=1 GROUP BY c.codigo_int) T          
  LEFT JOIN Comunicacion_CRM c WITH(NOLOCK) ON  t.codigo_int=c.codigo_int AND c.fecha_reg=t.fecha_reg          
  LEFT JOIN EstadoComunicacion_CRM e WITH(NOLOCK) ON e.codigo_ecom=c.codigo_ecom          
  ) com ON com.codigo_int=i.codigo_int           
     left outer join (              
     select distinct com.codigo_int from Acuerdo_CRM ac inner join Comunicacion_CRM com On (ac.codigo_com=com.codigo_com) where ac.estado_acu=1              
     )as tbAcuerdo on (tbAcuerdo.codigo_int=i.codigo_int)          
   WHERE                            
     i.estado_int=1                            
     AND ei.estado_ein=1                            
     AND e.estado_eve=1            
     and a.condicion_Alu='P'                          
     AND t.codigo_test like case @codigo_test when 'T' then '%' when '' then '%' else @codigo_test end                            
     AND c.codigo_con like case @codigo_con when 'T' then '%' when '' then '%'  else @codigo_con end                            
     AND e.codigo_eve like case @codigo_eve when 'T' then '%' when '' then '%' else @codigo_eve end                            
     AND SUBSTRING(i.apepaterno_int,1,1) BETWEEN @letra_ini AND @letra_fin                            
     AND (i.apepaterno_int + ' ' + i.apematerno_int + ' ' + i.nombres_int like '%' + @texto + '%' or i.numerodoc_int like '%' + @texto + '%' )                        
     AND ISNULL(I.codigo_cpf,'') LIKE @codigo_cpf  --003
     AND ((@Comunicacion = '0' AND com.codigo_int IS NULL) OR (@Comunicacion = '' AND '1'='1') OR com.codigo_ecom LIKE CASE WHEN @Comunicacion='T' THEN '%' ELSE @comunicacion END)          
    --AND ((@Comunicacion = '0' AND tb.codigo_int IS NULL) OR (@Comunicacion = '1' AND tb.codigo_int IS NOT NULL)) OR           
    AND ((@Acuerdo = 'T' AND 1=1) OR (@Acuerdo = '0' AND tbAcuerdo.codigo_int IS NULL) OR (@Acuerdo = '1' AND tbAcuerdo.codigo_int IS NOT NULL))            
    AND com.descripcion_ecom<>'NO INTERESADO'          
   ORDER BY nombre_eve,apepaterno_int,apematerno_int,nombres_int          
             
             
             
   END               
              
  IF @codigo_sin='3'  --Lista de Ingresantes                          
   BEGIN                    
  /* SELECT                     
    distinct i.codigo_int,                    
    e.codigo_eve,                  
    e.nombre_eve,                
    rtrim(ltrim(tdi.codigo_doci)) codigo_doci,                
    tdi.siglas_doci,                    
    i.numerodoc_int,                    
    i.apepaterno_int,                    
    i.apematerno_int,                    
    i.nombres_int,              
    'INGRESANTE' as situacion                            
   FROM                     
    Interesado_CRM i WITH(NOLOCK) inner join TipoDocumentoIdentidad tdi WITH(NOLOCK) ON tdi.codigo_doci=i.codigo_doci                    
    inner join alumno a WITH(NOLOCK) On (a.nroDocIdent_Alu=i.numerodoc_int)                    
    INNER JOIN EventoInteresado_CRM ei WITH(NOLOCK) ON ei.codigo_int=i.codigo_int                            
    INNER JOIN Evento_CRM e WITH(NOLOCK) ON e.codigo_eve=ei.codigo_eve                       
    INNER JOIN Convocatoria_CRM c WITH(NOLOCK) ON c.codigo_con=e.codigo_con                            
    INNER JOIN TipoEstudio t WITH(NOLOCK) ON t.codigo_test=c.codigo_test                
    left outer join  (              
    select distinct com.codigo_int from Comunicacion_CRM com where com.estado_com=1              
    )as tb on (tb.codigo_int=i.codigo_int)              
    left outer join (              
    select distinct com.codigo_int from Acuerdo_CRM ac inner join Comunicacion_CRM com On (ac.codigo_com=com.codigo_com) where ac.estado_acu=1              
    )as tbAcuerdo on (tbAcuerdo.codigo_int=i.codigo_int)              
   where                     
    i.estado_int=1                    
    AND ei.estado_ein=1                            
    AND e.estado_eve=1                        
    and condicion_Alu='I'                    
    AND t.codigo_test like case @codigo_test when 'T' then '%' when '' then '%' else @codigo_test end                            
    AND c.codigo_con like case @codigo_con when 'T' then '%' when '' then '%'  else @codigo_con end                     
    AND e.codigo_eve like case @codigo_eve when 'T' then '%' when '' then '%' else @codigo_eve end                            
    AND SUBSTRING(i.apepaterno_int,1,1) BETWEEN @letra_ini AND @letra_fin                            
    AND (i.apepaterno_int + ' ' + i.apematerno_int + ' ' + i.nombres_int like '%' + @texto + '%' or i.numerodoc_int like '%' + @texto + '%' )                        
    AND ((@Comunicacion = 'T' AND 1=1) OR (@Comunicacion = '0' AND tb.codigo_int IS NULL) OR (@Comunicacion = '1' AND tb.codigo_int IS NOT NULL))              
   AND ((@Acuerdo = 'T' AND 1=1) OR (@Acuerdo = '0' AND tbAcuerdo.codigo_int IS NULL) OR (@Acuerdo = '1' AND tbAcuerdo.codigo_int IS NOT NULL))              
   ORDER BY nombre_eve,apepaterno_int,apematerno_int,nombres_int          
   */          
   SELECT DISTINCT i.codigo_int,e.codigo_eve,e.nombre_eve,rtrim(ltrim(tdi.codigo_doci)) codigo_doci,tdi.siglas_doci,i.numerodoc_int,              
    i.apepaterno_int,i.apematerno_int,i.nombres_int, 'INGRESANTE' as situacion ,com.codigo_int             
   FROM Interesado_CRM i WITH(NOLOCK)                             
     INNER JOIN EventoInteresado_CRM ei WITH(NOLOCK) ON ei.codigo_int=i.codigo_int                            
     INNER JOIN Evento_CRM e WITH(NOLOCK) ON e.codigo_eve=ei.codigo_eve                            
     INNER JOIN Convocatoria_CRM c WITH(NOLOCK) ON c.codigo_con=e.codigo_con          
     LEFT JOIN CicloAcademico ci WITH(NOLOCK)ON ci.codigo_Cac=c.codigo_cac                          
     INNER JOIN TipoEstudio t WITH(NOLOCK) ON t.codigo_test=c.codigo_test                            
     INNER JOIN TipoDocumentoIdentidad tdi WITH(NOLOCK) ON tdi.codigo_doci=i.codigo_doci                
     left outer join alumno a WITH(NOLOCK) On (a.nroDocIdent_Alu=i.numerodoc_int) AND a.cicloIng_Alu=ci.descripcion_Cac          
  --LEFT JOIN Comunicacion_CRM com WITH(NOLOCK) ON com.codigo_int=i.codigo_int AND com.codigo_ecom<>6          
     LEFT JOIN          
  (SELECT codigo_com,T.*,C.codigo_ecom,e.descripcion_ecom          
  FROM          
  (SELECT C.codigo_int,MAX(C.fecha_reg) fecha_reg FROM Comunicacion_CRM C WITH(NOLOCK) WHERE estado_com=1 GROUP BY c.codigo_int) T          
  LEFT JOIN Comunicacion_CRM c WITH(NOLOCK) ON  t.codigo_int=c.codigo_int AND c.fecha_reg=t.fecha_reg          
  LEFT JOIN EstadoComunicacion_CRM e WITH(NOLOCK) ON e.codigo_ecom=c.codigo_ecom          
  ) com ON com.codigo_int=i.codigo_int           
     left outer join (              
     select distinct com.codigo_int from Acuerdo_CRM ac inner join Comunicacion_CRM com On (ac.codigo_com=com.codigo_com) where ac.estado_acu=1              
     )as tbAcuerdo on (tbAcuerdo.codigo_int=i.codigo_int)          
   WHERE                            
     i.estado_int=1                            
     AND ei.estado_ein=1                            
     AND e.estado_eve=1            
     and a.condicion_Alu='I'                          
     AND t.codigo_test like case @codigo_test when 'T' then '%' when '' then '%' else @codigo_test end                            
     AND c.codigo_con like case @codigo_con when 'T' then '%' when '' then '%'  else @codigo_con end                            
     AND e.codigo_eve like case @codigo_eve when 'T' then '%' when '' then '%' else @codigo_eve end                            
     AND SUBSTRING(i.apepaterno_int,1,1) BETWEEN @letra_ini AND @letra_fin                            
     AND (i.apepaterno_int + ' ' + i.apematerno_int + ' ' + i.nombres_int like '%' + @texto + '%' or i.numerodoc_int like '%' + @texto + '%' )                        
     AND ISNULL(I.codigo_cpf,'') LIKE @codigo_cpf --003
     AND ((@Comunicacion = '0' AND com.codigo_int IS NULL) OR (@Comunicacion = '' AND '1'='1') OR com.codigo_ecom LIKE CASE WHEN @Comunicacion='T' THEN '%' ELSE @comunicacion END)         
    --AND ((@Comunicacion = '0' AND tb.codigo_int IS NULL) OR (@Comunicacion = '1' AND tb.codigo_int IS NOT NULL)) OR           
    AND ((@Acuerdo = 'T' AND 1=1) OR (@Acuerdo = '0' AND tbAcuerdo.codigo_int IS NULL) OR (@Acuerdo = '1' AND tbAcuerdo.codigo_int IS NOT NULL))            
    AND com.descripcion_ecom<>'NO INTERESADO'          
   ORDER BY nombre_eve,apepaterno_int,apematerno_int,nombres_int          
                            
   END               
                
   IF @codigo_sin='4'  --Lista de Matriculados Pagantes              
   BEGIN            
             
   SELECT DISTINCT i.codigo_int,e.codigo_eve,e.nombre_eve,rtrim(ltrim(tdi.codigo_doci)) codigo_doci,tdi.siglas_doci,i.numerodoc_int,              
    i.apepaterno_int,i.apematerno_int,i.nombres_int, 'MATRICULADO PAGANTE' as situacion          
   FROM Interesado_CRM i WITH(NOLOCK)                             
     INNER JOIN EventoInteresado_CRM ei WITH(NOLOCK) ON ei.codigo_int=i.codigo_int                            
     INNER JOIN Evento_CRM e WITH(NOLOCK) ON e.codigo_eve=ei.codigo_eve                            
     INNER JOIN Convocatoria_CRM c WITH(NOLOCK) ON c.codigo_con=e.codigo_con          
     LEFT JOIN CicloAcademico ci WITH(NOLOCK)ON ci.codigo_Cac=c.codigo_cac                          
     INNER JOIN TipoEstudio t WITH(NOLOCK) ON t.codigo_test=c.codigo_test                            
     INNER JOIN TipoDocumentoIdentidad tdi WITH(NOLOCK) ON tdi.codigo_doci=i.codigo_doci                
     left outer join alumno a WITH(NOLOCK) On (a.nroDocIdent_Alu=i.numerodoc_int) AND a.cicloIng_Alu=ci.descripcion_Cac          
  --LEFT JOIN Comunicacion_CRM com WITH(NOLOCK) ON com.codigo_int=i.codigo_int AND com.codigo_ecom<>6          
     LEFT JOIN          
  (SELECT codigo_com,T.*,C.codigo_ecom,e.descripcion_ecom          
  FROM          
  (SELECT C.codigo_int,MAX(C.fecha_reg) fecha_reg FROM Comunicacion_CRM C WITH(NOLOCK) WHERE estado_com=1 GROUP BY c.codigo_int) T          
  LEFT JOIN Comunicacion_CRM c WITH(NOLOCK) ON  t.codigo_int=c.codigo_int AND c.fecha_reg=t.fecha_reg          
  LEFT JOIN EstadoComunicacion_CRM e WITH(NOLOCK) ON e.codigo_ecom=c.codigo_ecom          
  ) com ON com.codigo_int=i.codigo_int           
     left outer join (              
  select distinct com.codigo_int from Acuerdo_CRM ac WITH(NOLOCK)           
  inner join Comunicacion_CRM com WITH(NOLOCK) On (ac.codigo_com=com.codigo_com)           
  where ac.estado_acu=1) as tbAcuerdo on (tbAcuerdo.codigo_int=i.codigo_int)          
     INNER JOIN dbo.Matricula m WITH(NOLOCK) ON m.codigo_Alu = a.codigo_Alu          
     INNER JOIN (                                      
     SELECT DISTINCT d.codigo_Cac, d.codigo_Alu                                      
     FROM dbo.Deuda d WITH(NOLOCK)                                       
     inner join DetalleCajaIngreso dci with(nolock) on dci.codigo_Deu = d.codigo_Deu              
     inner join CajaIngreso ci with(nolock) on ci.codigo_Cin = dci.codigo_Cin and ci.estado_Cin <> 'A'              
     WHERE d.codigo_Sco = 30 AND estado_Deu = 'C' AND montoTotal_Deu > 0 AND saldo_Deu <= 0                                     
    ) deu ON deu.codigo_Alu = m.codigo_Alu AND m.codigo_Cac = deu.codigo_Cac           
   WHERE                            
     i.estado_int=1           
     AND ei.estado_ein=1                            
     AND e.estado_eve=1            
     and a.condicion_Alu='I' --AND a.codigo_test = 2            
     AND t.codigo_test like case @codigo_test when 'T' then '%' when '' then '%' else @codigo_test end                            
     AND c.codigo_con like case @codigo_con when 'T' then '%' when '' then '%'  else @codigo_con end                            
     AND e.codigo_eve like case @codigo_eve when 'T' then '%' when '' then '%' else @codigo_eve end                            
     AND SUBSTRING(i.apepaterno_int,1,1) BETWEEN @letra_ini AND @letra_fin                            
     AND (i.apepaterno_int + ' ' + i.apematerno_int + ' ' + i.nombres_int like '%' + @texto + '%' or i.numerodoc_int like '%' + @texto + '%' )                        
     AND ISNULL(I.codigo_cpf,'') LIKE @codigo_cpf --003
     AND ((@Comunicacion = '0' AND com.codigo_int IS NULL) OR (@Comunicacion = '' AND '1'='1') OR com.codigo_ecom LIKE CASE WHEN @Comunicacion='T' THEN '%' ELSE @comunicacion END)           
    --AND ((@Comunicacion = '0' AND tb.codigo_int IS NULL) OR (@Comunicacion = '1' AND tb.codigo_int IS NOT NULL)) OR           
    AND ((@Acuerdo = 'T' AND 1=1) OR (@Acuerdo = '0' AND tbAcuerdo.codigo_int IS NULL) OR (@Acuerdo = '1' AND tbAcuerdo.codigo_int IS NOT NULL))            
   AND com.descripcion_ecom<>'NO INTERESADO'          
   ORDER BY nombre_eve,apepaterno_int,apematerno_int,nombres_int          
          
              
        /*             
   SELECT                
    distinct i.codigo_int,e.codigo_eve,e.nombre_eve,rtrim(ltrim(tdi.codigo_doci)) codigo_doci,tdi.siglas_doci,i.numerodoc_int,              
    i.apepaterno_int,i.apematerno_int,i.nombres_int, 'MATRICULADO PAGANTE' as situacion              
   FROM               
    Interesado_CRM i WITH(NOLOCK)                             
    INNER JOIN EventoInteresado_CRM ei WITH(NOLOCK) ON ei.codigo_int=i.codigo_int                            
    INNER JOIN Evento_CRM e WITH(NOLOCK) ON e.codigo_eve=ei.codigo_eve                            
    INNER JOIN Convocatoria_CRM c WITH(NOLOCK) ON c.codigo_con=e.codigo_con                            
    INNER JOIN TipoEstudio t WITH(NOLOCK) ON t.codigo_test=c.codigo_test                            
    INNER JOIN TipoDocumentoIdentidad tdi WITH(NOLOCK) ON tdi.codigo_doci=i.codigo_doci              
    left outer join alumno a WITH(NOLOCK) On (a.nroDocIdent_Alu=i.numerodoc_int)                    
    --dbo.Alumno a WITH(NOLOCK)                                       
    INNER JOIN dbo.CarreraProfesional cp WITH(NOLOCK) ON cp.codigo_Cpf = a.tempcodigo_cpf                        
    INNER JOIN Facultad F ON F.codigo_Fac = CP.codigo_Fac                                    
    INNER JOIN dbo.Matricula m WITH(NOLOCK) ON m.codigo_Alu = a.codigo_Alu                            
    INNER JOIN dbo.CicloAcademico cac WITH(NOLOCK) ON cac.codigo_Cac = m.codigo_Cac                                                            
    INNER JOIN (                                      
     SELECT DISTINCT d.codigo_Cac, d.codigo_Alu                                      
     FROM dbo.Deuda d WITH(NOLOCK)                                       
     inner join DetalleCajaIngreso dci with(nolock) on dci.codigo_Deu = d.codigo_Deu              
     inner join CajaIngreso ci with(nolock) on ci.codigo_Cin = dci.codigo_Cin and ci.estado_Cin <> 'A'              
     WHERE d.codigo_Sco = 30 AND estado_Deu = 'C' AND montoTotal_Deu > 0 AND saldo_Deu <= 0                                     
    ) deu ON deu.codigo_Alu = m.codigo_Alu AND m.codigo_Cac = deu.codigo_Cac                                     
    left join dbo.DatosAlumno dal WITH(NOLOCK) on dal.codigo_Alu = a.codigo_Alu                                  
    left join dbo.InstitucionEducativa ied WITH(NOLOCK) on ied.codigo_ied = dal.codigo_ied                                 
    left join dbo.ModalidadIngreso mi WITH(NOLOCK) on mi.codigo_Min = a.codigo_Min                       
                  
    left outer join  (              
    select distinct com.codigo_int from Comunicacion_CRM com where com.estado_com=1              
    )as tb on (tb.codigo_int=i.codigo_int)              
              
    left outer join (              
  select distinct com.codigo_int from Acuerdo_CRM ac inner join Comunicacion_CRM com On (ac.codigo_com=com.codigo_com) where ac.estado_acu=1              
    )as tbAcuerdo on (tbAcuerdo.codigo_int=i.codigo_int)              
   WHERE               
    a.condicion_Alu = 'I' AND a.codigo_test = 2               
    and i.estado_int=1                            
    AND ei.estado_ein=1                            
    AND e.estado_eve=1                
    AND t.codigo_test like case @codigo_test when 'T' then '%' when '' then '%' else @codigo_test end                            
    AND c.codigo_con like case @codigo_con when 'T' then '%' when '' then '%'  else @codigo_con end                            
    AND e.codigo_eve like case @codigo_eve when 'T' then '%' when '' then '%' else @codigo_eve end                            
    AND SUBSTRING(i.apepaterno_int,1,1) BETWEEN @letra_ini AND @letra_fin                            
    AND (i.apepaterno_int + ' ' + i.apematerno_int + ' ' + i.nombres_int like '%' + @texto + '%' or i.numerodoc_int like '%' + @texto + '%' )                        
                  
    AND ((@Comunicacion = 'T' AND 1=1) OR (@Comunicacion = '0' AND tb.codigo_int IS NULL) OR (@Comunicacion = '1' AND tb.codigo_int IS NOT NULL))              
    AND ((@Acuerdo = 'T' AND 1=1) OR (@Acuerdo = '0' AND tbAcuerdo.codigo_int IS NULL) OR (@Acuerdo = '1' AND tbAcuerdo.codigo_int IS NOT NULL))              
   ORDER BY nombre_eve,apepaterno_int,apematerno_int,nombres_int               
      */           
   END              
               
               
   IF @codigo_sin='5'  --Lista de Matriculados Cursos              
   BEGIN                   
      SELECT DISTINCT i.codigo_int,e.codigo_eve,e.nombre_eve,rtrim(ltrim(tdi.codigo_doci)) codigo_doci,tdi.siglas_doci,i.numerodoc_int,              
    i.apepaterno_int,i.apematerno_int,i.nombres_int, 'MATRICULADO CURSOS' as situacion          
   FROM Interesado_CRM i WITH(NOLOCK)                             
     INNER JOIN EventoInteresado_CRM ei WITH(NOLOCK) ON ei.codigo_int=i.codigo_int                            
     INNER JOIN Evento_CRM e WITH(NOLOCK) ON e.codigo_eve=ei.codigo_eve                            
     INNER JOIN Convocatoria_CRM c WITH(NOLOCK) ON c.codigo_con=e.codigo_con          
     LEFT JOIN CicloAcademico ci WITH(NOLOCK)ON ci.codigo_Cac=c.codigo_cac                          
     INNER JOIN TipoEstudio t WITH(NOLOCK) ON t.codigo_test=c.codigo_test                            
     INNER JOIN TipoDocumentoIdentidad tdi WITH(NOLOCK) ON tdi.codigo_doci=i.codigo_doci                
     left outer join alumno a WITH(NOLOCK) On (a.nroDocIdent_Alu=i.numerodoc_int) AND a.cicloIng_Alu=ci.descripcion_Cac          
  --LEFT JOIN Comunicacion_CRM com WITH(NOLOCK) ON com.codigo_int=i.codigo_int AND com.codigo_ecom<>6          
     LEFT JOIN          
  (SELECT codigo_com,T.*,C.codigo_ecom,e.descripcion_ecom          
  FROM          
  (SELECT C.codigo_int,MAX(C.fecha_reg) fecha_reg FROM Comunicacion_CRM C WITH(NOLOCK) WHERE estado_com=1 GROUP BY c.codigo_int) T          
  LEFT JOIN Comunicacion_CRM c WITH(NOLOCK) ON  t.codigo_int=c.codigo_int AND c.fecha_reg=t.fecha_reg          
  LEFT JOIN EstadoComunicacion_CRM e WITH(NOLOCK) ON e.codigo_ecom=c.codigo_ecom          
  ) com ON com.codigo_int=i.codigo_int           
     inner join alumnosmatriculadospregrado aa with(nolock) ON (a.codigo_Alu=aa.codigo_Alu)              
     left outer join  EgresadoAlumni ee with(nolock) ON (aa.codigo_Alu=ee.codigo_alu)              
                  
     left outer join  (select distinct com.codigo_int from Comunicacion_CRM com with(nolock) where com.estado_com=1)as tb on (tb.codigo_int=i.codigo_int)              
     left outer join (select distinct com.codigo_int from Acuerdo_CRM ac with(nolock) inner join Comunicacion_CRM com with(nolock) On (ac.codigo_com=com.codigo_com) where ac.estado_acu=1)as tbAcuerdo on (tbAcuerdo.codigo_int=i.codigo_int)              
     WHERE                            
     i.estado_int=1           
     AND ei.estado_ein=1                            
     AND e.estado_eve=1            
     and a.condicion_Alu='I' --AND a.codigo_test = 2            
     AND t.codigo_test like case @codigo_test when 'T' then '%' when '' then '%' else @codigo_test end                            
     AND c.codigo_con like case @codigo_con when 'T' then '%' when '' then '%'  else @codigo_con end                            
     AND e.codigo_eve like case @codigo_eve when 'T' then '%' when '' then '%' else @codigo_eve end                            
     AND SUBSTRING(i.apepaterno_int,1,1) BETWEEN @letra_ini AND @letra_fin                            
     AND (i.apepaterno_int + ' ' + i.apematerno_int + ' ' + i.nombres_int like '%' + @texto + '%' or i.numerodoc_int like '%' + @texto + '%' )                        
     AND ISNULL(I.codigo_cpf,'') LIKE @codigo_cpf --003
     AND ((@Comunicacion = '0' AND com.codigo_int IS NULL) OR (@Comunicacion = '' AND '1'='1') OR com.codigo_ecom LIKE CASE WHEN @Comunicacion='T' THEN '%' ELSE @comunicacion END)           
    --AND ((@Comunicacion = '0' AND tb.codigo_int IS NULL) OR (@Comunicacion = '1' AND tb.codigo_int IS NOT NULL)) OR           
    AND ((@Acuerdo = 'T' AND 1=1) OR (@Acuerdo = '0' AND tbAcuerdo.codigo_int IS NULL) OR (@Acuerdo = '1' AND tbAcuerdo.codigo_int IS NOT NULL))            
       and aa.estadoActual_Alu=1 --and aa.codigo_Cac=60              
    and ee.codigo_alu is null            
    AND com.descripcion_ecom<>'NO INTERESADO'          
   ORDER BY nombre_eve,apepaterno_int,apematerno_int,nombres_int          
            
  /*          
   SELECT                
    distinct i.codigo_int,e.codigo_eve,e.nombre_eve,rtrim(ltrim(tdi.codigo_doci)) codigo_doci,tdi.siglas_doci,i.numerodoc_int,              
    i.apepaterno_int,i.apematerno_int,i.nombres_int, 'MATRICULADO CURSOS' as situacion              
   FROM               
    Interesado_CRM i WITH(NOLOCK)                             
    INNER JOIN EventoInteresado_CRM ei WITH(NOLOCK) ON ei.codigo_int=i.codigo_int                            
    INNER JOIN Evento_CRM e WITH(NOLOCK) ON e.codigo_eve=ei.codigo_eve                            
    INNER JOIN Convocatoria_CRM c WITH(NOLOCK) ON c.codigo_con=e.codigo_con                            
    INNER JOIN TipoEstudio t WITH(NOLOCK) ON t.codigo_test=c.codigo_test                            
    INNER JOIN TipoDocumentoIdentidad tdi WITH(NOLOCK) ON tdi.codigo_doci=i.codigo_doci               
    left outer join alumno a WITH(NOLOCK) On (a.nroDocIdent_Alu=i.numerodoc_int)                    
                  
    inner join alumnosmatriculadospregrado aa with(nolock) ON (a.codigo_Alu=aa.codigo_Alu)              
    left outer join  EgresadoAlumni ee with(nolock) ON (aa.codigo_Alu=ee.codigo_alu)              
                  
    left outer join  (select distinct com.codigo_int from Comunicacion_CRM com with(nolock) where com.estado_com=1)as tb on (tb.codigo_int=i.codigo_int)              
    left outer join (select distinct com.codigo_int from Acuerdo_CRM ac with(nolock) inner join Comunicacion_CRM com with(nolock) On (ac.codigo_com=com.codigo_com) where ac.estado_acu=1)as tbAcuerdo on (tbAcuerdo.codigo_int=i.codigo_int)              
                  
   WHERE               
    a.condicion_Alu = 'I' AND a.codigo_test = 2               
    and i.estado_int=1                            
    AND ei.estado_ein=1                            
    AND e.estado_eve=1                
    AND t.codigo_test like case @codigo_test when 'T' then '%' when '' then '%' else @codigo_test end                            
    AND c.codigo_con like case @codigo_con when 'T' then '%' when '' then '%'  else @codigo_con end                            
    AND e.codigo_eve like case @codigo_eve when 'T' then '%' when '' then '%' else @codigo_eve end                            
    AND SUBSTRING(i.apepaterno_int,1,1) BETWEEN @letra_ini AND @letra_fin                            
    AND (i.apepaterno_int + ' ' + i.apematerno_int + ' ' + i.nombres_int like '%' + @texto + '%' or i.numerodoc_int like '%' + @texto + '%' )                        
                  
    AND ((@Comunicacion = 'T' AND 1=1) OR (@Comunicacion = '0' AND tb.codigo_int IS NULL) OR (@Comunicacion = '1' AND tb.codigo_int IS NOT NULL))              
    AND ((@Acuerdo = 'T' AND 1=1) OR (@Acuerdo = '0' AND tbAcuerdo.codigo_int IS NULL) OR (@Acuerdo = '1' AND tbAcuerdo.codigo_int IS NOT NULL))              
                  
    and aa.estadoActual_Alu=1 --and aa.codigo_Cac=60              
    and ee.codigo_alu is null              
                  
   ORDER BY nombre_eve,apepaterno_int,apematerno_int,nombres_int               
       */          
                 
   END                     
    IF @codigo_sin='6'  --Lista Participantes no Interesados          
   BEGIN                   
      SELECT DISTINCT i.codigo_int,e.codigo_eve,e.nombre_eve,rtrim(ltrim(tdi.codigo_doci)) codigo_doci,tdi.siglas_doci,i.numerodoc_int,--ecom.descripcion_ecom,          
    i.apepaterno_int,i.apematerno_int,i.nombres_int, 'NO INTERESADO' as situacion          
   FROM Interesado_CRM i WITH(NOLOCK)                             
     INNER JOIN EventoInteresado_CRM ei WITH(NOLOCK) ON ei.codigo_int=i.codigo_int                            
     INNER JOIN Evento_CRM e WITH(NOLOCK) ON e.codigo_eve=ei.codigo_eve                            
     INNER JOIN Convocatoria_CRM c WITH(NOLOCK) ON c.codigo_con=e.codigo_con          
     LEFT JOIN CicloAcademico ci WITH(NOLOCK)ON ci.codigo_Cac=c.codigo_cac                          
     INNER JOIN TipoEstudio t WITH(NOLOCK) ON t.codigo_test=c.codigo_test                            
     INNER JOIN TipoDocumentoIdentidad tdi WITH(NOLOCK) ON tdi.codigo_doci=i.codigo_doci                
     left outer join alumno a WITH(NOLOCK) On (a.nroDocIdent_Alu=i.numerodoc_int) AND a.cicloIng_Alu=ci.descripcion_Cac          
  --LEFT JOIN Comunicacion_CRM com WITH(NOLOCK) ON com.codigo_int=i.codigo_int AND com.codigo_ecom<>6          
     LEFT JOIN          
  (SELECT codigo_com,T.*,C.codigo_ecom,e.descripcion_ecom          
  FROM          
  (SELECT C.codigo_int,MAX(C.fecha_reg) fecha_reg FROM Comunicacion_CRM C WITH(NOLOCK) WHERE estado_com=1 GROUP BY c.codigo_int) T          
  LEFT JOIN Comunicacion_CRM c WITH(NOLOCK) ON  t.codigo_int=c.codigo_int AND c.fecha_reg=t.fecha_reg          
  LEFT JOIN EstadoComunicacion_CRM e WITH(NOLOCK) ON e.codigo_ecom=c.codigo_ecom          
  ) com ON com.codigo_int=i.codigo_int           
     left outer join  (select distinct com.codigo_int from Comunicacion_CRM com with(nolock) where com.estado_com=1)as tb on (tb.codigo_int=i.codigo_int)              
     left outer join (select distinct com.codigo_int from Acuerdo_CRM ac with(nolock) inner join Comunicacion_CRM com with(nolock) On (ac.codigo_com=com.codigo_com) where ac.estado_acu=1)as tbAcuerdo on (tbAcuerdo.codigo_int=i.codigo_int)              
     --LEFT JOIN EstadoComunicacion_CRM ecom ON ecom.codigo_ecom=com.codigo_ecom          
     WHERE                            
     i.estado_int=1           
     AND ei.estado_ein=1                            
     AND e.estado_eve=1            
     --and a.condicion_Alu='I' --AND a.codigo_test = 2            
     AND t.codigo_test like case @codigo_test when 'T' then '%' when '' then '%' else @codigo_test end                            
     AND c.codigo_con like case @codigo_con when 'T' then '%' when '' then '%'  else @codigo_con end                            
     AND e.codigo_eve like case @codigo_eve when 'T' then '%' when '' then '%' else @codigo_eve end                            
     AND SUBSTRING(i.apepaterno_int,1,1) BETWEEN @letra_ini AND @letra_fin                            
     AND (i.apepaterno_int + ' ' + i.apematerno_int + ' ' + i.nombres_int like '%' + @texto + '%' or i.numerodoc_int like '%' + @texto + '%' )                        
     AND ISNULL(I.codigo_cpf,'') LIKE @codigo_cpf --003
     AND ((@Comunicacion = '0' AND com.codigo_int IS NULL) OR (@Comunicacion = '' AND '1'='1') OR com.codigo_ecom LIKE CASE WHEN @Comunicacion='T' THEN '%' ELSE @comunicacion END)              
    --AND ((@Comunicacion = '0' AND tb.codigo_int IS NULL) OR (@Comunicacion = '1' AND tb.codigo_int IS NOT NULL)) OR           
    AND ((@Acuerdo = 'T' AND 1=1) OR (@Acuerdo = '0' AND tbAcuerdo.codigo_int IS NULL) OR (@Acuerdo = '1' AND tbAcuerdo.codigo_int IS NOT NULL))            
    AND com.descripcion_ecom='NO INTERESADO'-- ESTADO DE COMUNICACION NO INTERESADO          
   ORDER BY nombre_eve,apepaterno_int,apematerno_int,nombres_int          
   END                     
             
             
 END            
                           
END 