
/*  
* Fecha Mod: 19/06/2017 - 09:23:00am   
* Modificado por: hcano 
* Descripción: Listar y cargar datos para editar de Direcciones
**********************************Historial de Cambios*************************************************          
001 Hcano 15-09-17 Se coloca isnull para codigo y descripcion de departamento,provincia y distrito, en el caso de que se importe vacio el codigo distrito         
*/

ALTER PROCEDURE [dbo].[CRM_ListaDirecciones]              
@opcion varchar(5),              
@codigo int,              
@param1 varchar(100) = ''  --codigo_interesado          
AS              
BEGIN              
 IF @opcion='L'-- PARA LISTAR POR INTERESADO    
 BEGIN              
  SELECT               
  d.codigo_din,d.direccion_din,ISNULL(de.nombre_Dep,'') as nombre_Dep,ISNULL(p.nombre_Pro,'') as nombre_Pro,ISNULL(dis.nombre_Dis,'') as nombre_Dis --001
  ,d.vigencia_din,convert(varchar(10),d.fecha_Reg,103) fecha_Reg      
  FROM DireccionInteresado_CRM d WITH(NOLOCK)              
  LEFT JOIN Departamento de WITH(NOLOCK) ON de.codigo_Dep=d.codigo_dep      
  LEFT JOIN provincia p WITH(NOLOCK) ON p.codigo_Pro=d.codigo_pro    
  LEFT JOIN Distrito dis WITH(NOLOCK) ON dis.codigo_Dis=d.codigo_dis    
  WHERE                        
  d.estado_din=1    
  AND d.codigo_int=@param1         
  ORDER BY d.vigencia_din desc,d.fecha_Reg desc              
 END              
 IF @opcion='E' -- PARA EDITAR              
 BEGIN     
  SELECT              
  d.codigo_din,d.direccion_din,ISNULL(de.codigo_Dep,'0') as codigo_Dep,ISNULL(de.nombre_Dep,'') as nombre_Dep,ISNULL(p.codigo_Pro,'0') as codigo_Pro --001
  ,ISNULL(p.nombre_Pro,'') as nombre_Pro,ISNULL(dis.codigo_Dis,'0') as codigo_Dis,ISNULL(dis.nombre_Dis,'') as nombre_Dis --001
  ,d.vigencia_din,convert(varchar(10),d.fecha_Reg,103) fecha_Reg      
  FROM DireccionInteresado_CRM d WITH(NOLOCK)              
  LEFT JOIN Departamento de WITH(NOLOCK) ON de.codigo_Dep=d.codigo_dep      
  LEFT JOIN provincia p WITH(NOLOCK) ON p.codigo_Pro=d.codigo_pro    
  LEFT JOIN Distrito dis WITH(NOLOCK) ON dis.codigo_Dis=d.codigo_dis    
  WHERE                       
  d.codigo_din=@codigo              
 END              
             
END       

