#divOperaciones {
    .alert {
        margin-bottom: 0;
        font-size: 0.8rem;
        border-radius: 0;
        padding: 6px 12px;
        font-weight: 500;
    }
    #txtNroAccesitarios, #txtNotaMinima {
        text-align: center;
    }
}

#divCeroElementos {
    .alert {
        margin-bottom: 0;
        font-size: 0.8rem;
        border-radius: 0;
        padding: 6px 12px;
        font-weight: 500;
    }
}
