.lnavItemSelected
{
    COLOR: #666666;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    FONT-SIZE: 11px;
    TEXT-DECORATION: none
}
.titulos {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	text-transform: uppercase;
	color: #ffffff;
	background-position: center center;
	text-align: center;
	vertical-align: middle;
	width: 60px;
	background-color: #990000;
}
.Datos {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-align: right;
	vertical-align: middle;
	font-weight: normal;
	color: #000033;
}
.tabla {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	font-weight: bold;
	background-position: center center;
	text-align: center;
	text-transform: uppercase;
	color: #ffffff;
	background-color: #990000;
}
.nombreseccion {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	text-transform: uppercase;
	color: #394B2E;
	text-align: left;
	vertical-align: middle;
	background-color: #DECE9C;
}
.nombrefila {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-transform: uppercase;
	text-align: left;
	vertical-align: middle;
	background-color: #ECE9D8;
	color: #000000;
}
.nombretotal {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	text-transform: uppercase;
	text-align: left;
	vertical-align: middle;
	background-color: #808000;
	color: #ffffff;
}
.Totales {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-align: right;
	vertical-align: middle;
	font-weight: normal;
	background-color: #808000;
	color: #ffffff;
}

.DatosConsulta {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-align: left;
	vertical-align: middle;
	font-weight: normal;
	color: #000033;
}
.titulos {
	font-family: Verdana, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	text-transform: uppercase;
	color: #ffffff;
	background-position: center center;
	text-align: center;
	vertical-align: middle;
	width: 60px;
	background-color: #4682B4;
}